.brand {
    width: 33%;
    margin-left: 40%;
}

.slide#responsive1 .info {
    position: absolute;
    top: 170px;
    right: 18%;
    width: 25%;
}
.slide#responsive1 .info h2 {
    color: #fff;
    font-size: 47px;
    font-weight: normal;
    text-shadow: 1px 1px 1px #3b3262;
    line-height: 56px;
}
.slide#responsive1 .info h2 strong {
    font-size: 42px;
}

#maps {
    margin-left: 45%;
    margin-bottom: 13%;
}

.motto {
    font-family: sans-serif; 
    text-align: center;
}

#ddtitle {
    width: 100%;
    background-color: url;
    text-align: center;
    
}

.title_header h2 {
    color: #ffffff;
}

#asset1 {
    display: inline-block;
}


#sign_in2 .form input[type="submit"]
{
    color: #fff;
    background: #520135;
    font-size: 20px;
    margin: 0;
    display: inline-block;
    padding: 10px;
    border: 0 none;
    border-radius: 3px;
    -webkit-transition: background linear .2s, box-shadow linear .2s;
    -moz-transition: background linear .2s, box-shadow linear .2s;
    -o-transition: background linear .2s, box-shadow linear .2s;
    transition: background linear .2s, box-shadow linear .2s;
}

#sign_in2 .form input[type="submit"]:hover{
    background: #187CCC;
}

p {
    line-height: 2;
    text-align: justify;
    font-size: 18px;
}

.btn-custom {
    width: 90px;
    height: 40px;
    color: #fff;
    background: #520135;
    padding: 2%;
    font-size: 22px;
    font-weight: bold;
    border-radius: 10px;
    text-decoration: none;
}

.btn-custom:hover {
    background: #187CCC;
    color: #fff;
    text-decoration: none;
}

.btn-custom:link {
    color: #fff;
    text-decoration: none;
}

.btn-custom:visited {
    color: #fff;
    text-decoration: none;
}

.btn-custom:active {
    color: #fff;
    text-decoration: none;
}

.